#partymode {
    $icon-width: 24px;
    $icon-height: 24px;
    $sprite-play-offset: 0;
    $sprite-pause-offset: -$icon-width;
    $sprite-restart-offset: 2 * -$icon-width;
    $sprite-delete-offset: 3 * -$icon-width;
    $sprite-undelete-offset: 4 * -$icon-width;
    min-height: 120%;

    .login-page {
        .fb-login-button {border: 0; outline: none; width: 152px; height: 22px; background: url(../img/fb-login.png) no-repeat; display: inline-block;}

    }

    .ui-popup-screen.in {
        height: 10000px;
        position: fixed;
    }

    .ui-btn-active {
        background: #646464; /* Old browsers */
        background: -moz-linear-gradient(top, #505050 0%, #313131 100%); /* FF3.6+ */
        background: -webkit-linear-gradient(top, #505050 0%, #313131 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #505050 0%, #313131 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #505050 0%, #313131 100%); /* IE10+ */
        background: linear-gradient(to bottom, #505050 0%, #313131 100%); /* W3C */
    }

    li.ui-li {
        border: none;
        .entry {background-color: #ECEBE8; width: 100%; height: 100%;}
        .entry-container {
            padding: 6px 15px 0 15px;
            h2 {margin-top: 0; margin-bottom: 0; color: black; text-shadow: none;}
            h3 {
                margin-top: 1px; color: #858585; text-shadow: none; font-weight: normal; text-shadow: none; font-size: 14px;
            }
        }
        .ui-icon {background-color: transparent; box-shadow: none;}

        div.ui-li {
            height: 49px; border-width: 0 0 1px; border-style: solid; border-color: #D2D2D2;
            overflow: hidden;
            .ui-btn-text {height: 100%;}
        }
        
        &.ui-btn-active div.ui-li {background-color: #618CDD;}
        a.ui-link-inherit {padding: 0;}
    }

    .party-overview-page {
        ul.parties {
            li.party {
                -webkit-transition: height 500ms; overflow: hidden;
                &.invisible {height: 1; border: none;}
                &.activeparty h3 {display: none;}
                .party-when:before {content: "Ended: ";}
            }
            li.party .ui-li-aside {
                width: 70px;
                .number-of-users, .number-of-tracks {
                    display: inline-block; width: $icon-width; height: $icon-height; background-size: cover;
                    position: relative; top: 0px;
                    span {
                        margin-right: -50%;
                        position: absolute; top: -7px; right: 7px; display: block; min-width: 6px;
                        border: 1px solid #FFFFFF; border-radius: 9px; background-color: #000000; padding: 0 3px;
                        font-size: 10px; text-shadow: none; color: #FFFFFF; text-align: center;
                    }

                }
                .number-of-users {background-image: url(../img/friends.svg);}
                .number-of-tracks {background-image: url(../img/note.svg);}
            }
        }
    }

    .party-page {
        .ui-header .ui-title {
            margin-left: 6em; margin-right: 2em;
        }

        ul.tracks {
            li.playlist-empty-message { /* this can be done in 1 rule, but this offers better gradual deterioration */
                display: none;
                &:last-child {display: block;}
            }
            li.track-in-playlist {
                $entry-slide-time: 300ms;
                position: relative; top: 0;
                div.controls {
                    height: 47px; width: 100%;
                    border-width: 1px; border-style: solid none; border-color: #424242 black #020202;
                    background: #646464; /* Old browsers */
                    background: -moz-linear-gradient(top, #646464 0%, #717171 10%, #313131 100%); /* FF3.6+ */
                    background: -webkit-linear-gradient(top, #646464 0%,#717171 10%,#313131 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, #646464 0%,#717171 10%,#313131 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top, #646464 0%,#717171 10%,#313131 100%); /* IE10+ */
                    background: linear-gradient(to bottom, #646464 0%,#717171 10%,#313131 100%); /* W3C */

                    > div {
                        display: inline-block; margin-top: 2px; padding: 10px;
                        width: $icon-width; height: $icon-height;
                        background-image: url(../img/sprite@2x.png); background-size: $icon-width * 5 $icon-height * 2;
                        background-position-y: $icon-height; background-origin: content-box; background-clip: content-box;
                        margin-left: $icon-width;
                        -webkit-transition: background-position-x 0 ease 2 * $entry-slide-time; /* add a delay when the button changes, so that it will change when the slider is closed (so this is no transition, only delay) */
                        &:not(:active) { -webkit-transition: background-position-y 0 linear 2 * $entry-slide-time; background-position-y: 0;} /* delay when active button is released, so that it stays "pressed" a bit longer */
                        &.play-button {background-position-x: $sprite-play-offset;}
                        &.pause-button {background-position-x: $sprite-pause-offset; display: none; }
                        &.delete-button {background-position-x: $sprite-delete-offset; }
                    }
                }
                .entry {
                    position: absolute;
                    left: 0; top: 0;
                    -webkit-transition: left $entry-slide-time;
                }
                &.show-controls .entry {left: 80%;}


                .deleted-by {display: none; }
                &.deleted {
                    .title, .subtitle {opacity: .2;}
                    .artist-added {display: none;}
                    .deleted-by {display: block;}
                    .deleted-by:before {content: "skipped by: ";}
                    div.controls > div {
                        display: none;
                        &.delete-button {display:inline-block; background-position-x: $sprite-undelete-offset;}
                    }
                }
                
                .playing.icon {
                    width: 0; height: $icon-height; position: absolute; top: 11px; right: 9px; -webkit-transition: width 200ms;
                    background-image: url(../img/speaker-on.svg); background-size: $icon-width $icon-height;
                }

                .entry-container {margin-right: 0; -webkit-transition: margin-right 200ms;}
                &.now-playing {
                    .entry-container {margin-right: $icon-width;}
                    .playing.icon {width: $icon-width;}
                    div.controls > div.play-button {background-position-x: $sprite-restart-offset;}
                    div.controls > div.pause-button {display: inline-block;}
                }
            }
            &.paused li.track-in-playlist {
                 .playing.icon {background-image: url(../img/speaker-off.svg);}
                 div.controls div.pause-button {background-position-x: $sprite-play-offset;}
            }
        }
    }

    .add-song-page {
        ul.search-results {
            margin-top: 0;
            > li h3 .album:before {content: "- ";}
            &.loading { background: url(../img/spinner.gif) no-repeat center; height: 100px; }
        }
    }

    .pm-popup {
        max-width: 350px; padding: 20px; text-align: center;
        p {text-align: left;}
        a {margin-top: 20px; max-width: 250px; display: inline-block;}
    }
}
