@import "compass/css3/images";
@import "compass/css3/transition";
$icon-width: 24px;
$icon-height: $icon-width;

#partymode {
    min-height: 120%;

    .login-page {
        .fb-login-button {border: 0; outline: none; width: 152px; height: 22px; background: url(../img/fb-login.png) no-repeat; display: inline-block;}

    }
    @mixin width-padding($width, $padding-left, $padding-right) {
        width: $width - $padding-left - $padding-right;
        padding-left: $padding-left; padding-right: $padding-right;
    }
     @mixin height-padding-top($height, $padding-top) {
        height: $height - $padding-top;
        padding-top: $padding-top;
    }
    @mixin swipe-button($color) {
        $button-width: 64px; $button-height: 33px; $margin-right: 7px; $padding-x: 4px; $padding-top: 9px;
        width: $button-width + $margin-right; height: $button-height;
        float: right; overflow: hidden; position: relative; -webkit-transition: width 200ms;
        > div {
            width: $button-width - 2 * $padding-x; height: $button-height - $padding-top; overflow: hidden;
            position: absolute; right: 0px; margin-right: $margin-right;
            background-image: url(../img/buttons@2x.svg); background-size: 2*$button-width 3*$button-height;
            padding: $padding-top $padding-x 0; text-align: center; text-overflow: ellipsis; white-space: nowrap;
            font: normal 14px Arial, Helvetica; color: #FFF; text-shadow: 0 -1px 0 rgba(0,0,0,.5);
            background-position-y: if($color == green, -1, if($color == blue, -2, 0))* $button-height;
            /* somehow bold only looks good on retina screen */
            @media (-webkit-min-device-pixel-ratio: 1.5) {font-weight: bold;} 

            &:not(:active) {-webkit-transition: background-position-x 0 ease 1000ms;}
            &:active {background-position-x: -$button-width;}
        }
    }

    .ui-popup-screen.in {
        height: 10000px;
        position: fixed;
    }

    .ui-btn-active {
        background: #404040; /* Old browsers */
        background: -moz-linear-gradient(top, #505050 0%, #313131 100%); /* FF3.6+ */
        background: -webkit-linear-gradient(top, #505050 0%, #313131 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #505050 0%, #313131 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #505050 0%, #313131 100%); /* IE10+ */
        background: linear-gradient(to bottom, #505050 0%, #313131 100%); /* W3C */
    }

    .actionsheet {
        text-align: center; border-top: 1px solid #FFF; box-shadow: 0 -1px 1px rgba(73, 77, 80, 0.98);
        color: #FFF; font-weight: normal; text-shadow: 0 -1px #000; width: 100%; position: fixed; bottom: 0px; z-index: 1000;
        height: 0px; 
        @include single-transition(height, 500ms);
        @include background(linear-gradient(top, rgba(159, 165, 173,.98) 0, rgba(95,100,110, .98) 30px));

        > div {
            padding: 20px;
            > a {
                border-top: 1px solid rgba(25, 25, 25, 0.5); margin: 15px 0; background-color: rgba(74, 78, 85, 0.98);
                border-radius: 22px; padding: 2px 3px 3px; display: block; text-decoration: none; font-weight: bold;
                box-shadow: 0 1px rgba(230, 230, 230, 0.2);
                > span {
                    @include height-padding-top(39px, 11px);
                    display: block; border-radius: 19px; border: 0.5px solid rgba(250, 250, 250, 0.1); color: black;
                    box-shadow: 0 1px 1px rgb(38,40,43); text-shadow: 0px 1px rgba(230, 230, 230, 0.5);
                    @include background(linear-gradient(top, rgb(254, 254, 254), rgb(194, 195, 197) 80%, rgb(229, 229, 229)));
                }
                &.cancel > span {
                    @include background(linear-gradient(top, rgb(105, 107, 112), rgb(42, 48, 56) 80%, rgb(57, 64, 71)));
                    color: #FFF; text-shadow: 0 -1px rgba(25, 25, 25, 0.5);
                }
                &:active > span {
                    @include background(linear-gradient(top, rgb(120, 140, 223), rgb(20, 55, 198) 80%, rgb(62, 87, 208)));
                    color: #FFF; text-shadow: 0 -1px rgba(25, 25, 25, 0.5);
                }
            }
        }
    }


    .pm-header {
        text-shadow: 0 -1px 0 #2D4756; color: #FFF; height: 44px; margin-top: -11px; position: relative;
        h1 {text-align: center; font-size: 16px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; padding-top: 11px;}
        @include background(linear-gradient(top, #BECCDD, #587397));
        border-bottom: 1px solid #3F5C80;

        .plus-button {
            background-image: url(../img/plus@2x.svg); width: 33px; height: 30px; float: right; margin: 7px 10px;
            &:active {background-position-x: -33px;}
        }
        .back-button, .left-button, .right-button {
            @media (-webkit-min-device-pixel-ratio: 1.5) {font-weight: bold;} 
            color: #FFF; background-image: url(../img/header-button@2x.svg);
            margin: 7px 10px; font-size: 14px; font-weight: normal; text-decoration: none; text-align: center;
            @include width-padding(64px, 10px, 10px); @include height-padding-top(30px, 5px);
            &:active {background-position-x: -64px;}
            &.fake {background: none;} /*fake buttons can be used to center the header text */
        }
        .back-button, .left-button {float: left;}
        .back-button { background-position-y: 30px; @include width-padding(64px, 11px, 9px);}
        .right-button {float: right;}
    }


    li.ui-li {
        border: none;
        .entry {background-color: #ECEBE8; width: 100%; height: 100%;}
        .entry-container {
            padding: 6px 15px 0 15px;
            h2 {margin-top: 0; margin-bottom: 0; color: black; text-shadow: none;
                &:last-child {margin-top: 10px;}
            }
            h3 {
                margin-top: 1px; color: #858585; text-shadow: none; font-weight: normal; text-shadow: none; font-size: 14px;
            }
        }
        .ui-icon {background-color: transparent; box-shadow: none;}

        div.ui-li {
            height: 49px; border-width: 0 0 1px; border-style: solid; border-color: #D2D2D2;
            overflow: hidden;
            .ui-btn-text {height: 100%;}
        }
        
        &.ui-btn-active div.ui-li {background-color: #618CDD;}
        a.ui-link-inherit {padding: 0;}
    }

    .party-overview-page {
        ul.parties {
            li.party {
                -webkit-transition: height 500ms; overflow: hidden;
                &.invisible {height: 1; border: none;}
                &.activeparty h3 {display: none;}
            }
            li.party .ui-li-aside {
                width: 70px;
                .number-of-users, .number-of-tracks {
                    display: inline-block; width: $icon-width; height: $icon-height; background-size: cover;
                    position: relative; top: 0px;
                    span {
                        margin-right: -50%;
                        position: absolute; top: -7px; right: 7px; display: block; min-width: 6.5px;
                        border: 1px solid #FFFFFF; border-radius: 10px; background-color: #000000; padding: 0 3px;
                        font-size: 10px; text-shadow: none; color: #FFFFFF; text-align: center;
                    }

                }
                .number-of-users {background-image: url(../img/friends.svg);}
                .number-of-tracks {background-image: url(../img/note.svg);}
            }
        }
    }

    .party-page {
        .ui-header .ui-title {
            margin-left: 6em; margin-right: 2em;
        }

        ul.tracks {
            li.playlist-empty-message { /* this can be done in 1 rule, but this offers better gradual deterioration */
                display: none;
                &:last-child {display: block;}
            }
            li.track-in-playlist {

                .delete-button {
                    @include swipe-button(red); margin-top: 7px;
                }
                &:not(.show-delete) .delete-button {width: 0}
                .play-button {
                    @include swipe-button(green); margin-top: 7px;
                }
                &:not(.show-play) .play-button {width: 0}

                &.deleted > div {
                    .title, .subtitle {opacity: .2;}
                    height: 0px;
                    -webkit-transition: height 500ms ease 10000ms; /*slide away in 10 seconds never to be seen again */
                }
                
                .playing.icon {
                    width: 0; height: $icon-height; -webkit-transition: width 200ms; float: right; margin: 11px 10px;
                    background-image: url(../img/speaker-on.svg); background-size: $icon-width $icon-height;
                }

                &.now-playing {
                    .playing.icon {width: $icon-width;}
                }
            }
            &.paused li.track-in-playlist {
                 .playing.icon {background-image: url(../img/speaker-off.svg);}
            }
        }
    }

    .add-song-page {
        background: #ECEBE8;
        &.tracks #no-back-to-playlists {display: none;}
        &:not(.tracks) #back-to-playlists {display: none;}
        &:not(.playlists) .explain {display: none;}
        #searchform {
            margin-bottom: 25px;


            #searchdomain {
                padding: 0;
                > li {
                    display: inline-block; width: 33.4%; text-align: center;
                    &:last-child {margin-right: -1px;}
                    padding: 6px 0; 
                    color: rgb(127, 127, 127); text-shadow: 0 1px rgb(255, 255, 255);
                    @include background(linear-gradient(top, rgb(255, 255, 255), rgb(200, 200, 200)));
                    border: 1px solid rgb(159, 159, 159);
                    margin-left: -2px;
                    box-shadow: rgba(200, 200, 200, 0.7);
                    &:first-child { border-radius: 10px 0 0 10px; }
                    &:last-child { border-radius: 0 10px 10px 0; }
                    &.active + li:not(.active) {border-left: 1px solid rgb(11, 57, 135);}
                    &.active {
                        @include background(linear-gradient(top, rgb(28, 89, 179), rgb(88, 152, 242)));
                        border: 1px solid rgb(11, 57, 135);
                        color: #FFF; text-shadow: 0 -1px rgba(25, 25, 25, 0.5);
                    }
                }
            }
        }
        ul.search-results {
            > li h3 .album:before {content: "\2014 ";}
            &.loading { background: url(../img/spinner.gif) no-repeat center; height: 100px;
                .noresults {display: none;}
            }
            .noresults:not(:last-child) {display: none; }
            .explain {
                font-weight: normal; text-shadow: none; font-size: 12px; height: 35px; text-align: center; padding: 17px 50px 0;
                background-image: url(../img/alert@2x.png); background-size: 9px 35px; background-repeat: no-repeat;
                background-position: -20px -7px; background-origin: content-box;
            }
        }
    }

    .pm-popup {
        max-width: 350px; padding: 20px; text-align: center;
        p {text-align: left;}
        a {margin-top: 20px; max-width: 250px; display: inline-block;}
    }
}
