.login-page {
    .fb-login-button {border: 0; outline: none; width: 152px; height: 22px; background: url(../img/fb-login.png) no-repeat; display: inline-block;}

}

.ui-popup-screen.in {
    height: 10000px;
    position: fixed;
}

.party-overview-page {
    ul.parties {
        li.active-party {
            height: 55px; -webkit-transition: height 500ms; overflow: hidden;
            &.invisible {height: 0; border: none;}
        }
        li.active-party.no-active-parties-message { padding: 0;
            div { text-align: center; padding-top: 10px; }
         }
        &.has-active-parties li.active-party.no-active-parties-message {
            height: 0px; border: none;
       }
    }
}

.party-page {
    ul.tracks {
        li.playlist-empty-message:not(:nth-last-child(2)) {display: none;}
        li#playlist-divider:last-child {display: none;}
        li.track_in_playlist {
            div.text {text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin-left: 0; -webkit-transition: margin-left 400ms;}
            div.subtitle {font-weight: normal;}
            div.icon {top: 25px; width: 0; height: 32px; position: absolute; background-image: url(../img/speakers.png); -webkit-transition: width 400ms;}
            div.controls {
                top: 25px; width: 0; height: 32px; position: absolute; -webkit-transition: width 400ms; white-space: nowrap; overflow: hidden;
                > div {display: inline-block;}
            }
            &.deleted {
                div.title, div.subtitle {opacity: .2;}
                div.deleted-by {position: absolute; color: red; top: 25px; padding-left: 5px; text-shadow: white 1px 1px 2px;}
                div.deleted-by:before {content: "skipped by: ";}
            }
            &.now-playing {
                background-image: -webkit-linear-gradient(top, #CCCCCC, #BEBEBE);
                div.text {margin-left: 45px;}
                div.icon {width: 32px;}
            }
            &.show-controls {
                div.text {margin-left: 76px;}
                div.controls {width: 64px;}
            }
            &.now-playing.show-controls {
                div.text {margin-left: 108px;}
                div.icon {width: 0;}
                div.controls {width: 96px;}
            }
            &.deleted.show-controls {
                div.text {margin-left: 45px;}
                div.controls {width: 32px;}
            }

            .delete-button {width: 32px; height: 32px; background-color: red; }
            &.deleted .delete-button {background-color: green; }
            .play-button {width: 32px; height: 32px; background-color: blue; }
            &.now-playing .play-button {background-color: silver; }
            .pause-button {width: 32px; height: 32px; background-color: yellow; }
        }
        &.paused div.icon {background-position: -32px;}
    }
}

.pm-popup {
    max-width: 350px; padding: 20px; text-align: center;
    p {text-align: left;}
    a {margin-top: 20px; max-width: 250px; display: inline-block;}
}
