/pom.xml
*.jar
/sopbase/lib
/sopbase/classes
/sopbase/native
/sopbase/.lein-failures
/sopbase//checkouts
/sopbase/.lein-deps-sum
/sopbase/war/WEB-INF/classes
/sopbase/war/WEB-INF/lib
/sopbase/war/WEB-INF/appengine-generated
*.pyc
.#*
.sass-cache
sencha-touch-?.?.?.?
/sencha-sop/archive
/sencha-sop/build
*.swp
