body {
  min-height: 120%; }

.login-page .fb-login-button {
  border: 0;
  outline: none;
  width: 152px;
  height: 22px;
  background: url(../img/fb-login.png) no-repeat;
  display: inline-block; }

.ui-popup-screen.in {
  height: 10000px;
  position: fixed; }

body .ui-li {
  height: 49px;
  background-color: #ECEBE8;
  border: 0 0 1px solid #D2D2D2; }
  body .ui-li .ui-btn-inner a.ui-link-inherit {
    padding-top: 5px; }
    body .ui-li .ui-btn-inner a.ui-link-inherit h2 {
      margin: 0px inherit;
      color: black;
      text-shadow: none; }
    body .ui-li .ui-btn-inner a.ui-link-inherit h3 {
      margin: 0 inherit;
      color: #858585;
      text-shadow: none;
      font-weight: normal;
      text-shadow: none;
      font-size: 14px; }
      body .ui-li .ui-btn-inner a.ui-link-inherit h3:before {
        content: "Ended: "; }
  body .ui-li .ui-icon {
    background-color: transparent;
    box-shadow: none; }

li.ui-li.ui-btn-active div.ui-li {
  background-color: #618CDD; }

.party-overview-page ul.parties li.party {
  -webkit-transition: height 500ms;
  overflow: hidden; }
  .party-overview-page ul.parties li.party.invisible {
    height: 1;
    border: none; }
  .party-overview-page ul.parties li.party.activeparty h3 {
    display: none; }
.party-overview-page ul.parties li.party .ui-li-aside {
  width: 70px; }
  .party-overview-page ul.parties li.party .ui-li-aside .number-of-users, .party-overview-page ul.parties li.party .ui-li-aside .number-of-tracks {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
    position: relative;
    top: 0px; }
    .party-overview-page ul.parties li.party .ui-li-aside .number-of-users span, .party-overview-page ul.parties li.party .ui-li-aside .number-of-tracks span {
      position: absolute;
      top: -8px;
      right: -8px;
      display: block;
      min-width: 6px;
      border: 1px solid #FFFFFF;
      border-radius: 9px;
      background-color: #000000;
      padding: 0 3px;
      font-size: 10px;
      text-shadow: none;
      color: #FFFFFF;
      text-align: center; }
  .party-overview-page ul.parties li.party .ui-li-aside .number-of-users {
    background-image: url(../img/friends.svg); }
  .party-overview-page ul.parties li.party .ui-li-aside .number-of-tracks {
    background-image: url(../img/note.svg); }

.party-page ul.tracks li.playlist-empty-message:not(:nth-last-child(2)) {
  display: none; }
.party-page ul.tracks li#playlist-divider:last-child {
  display: none; }
.party-page ul.tracks li.track_in_playlist div.text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 0;
  -webkit-transition: margin-left 400ms; }
.party-page ul.tracks li.track_in_playlist div.subtitle {
  font-weight: normal; }
.party-page ul.tracks li.track_in_playlist div.icon {
  top: 25px;
  width: 0;
  height: 32px;
  position: absolute;
  background-image: url(../img/speakers.png);
  -webkit-transition: width 400ms; }
.party-page ul.tracks li.track_in_playlist div.controls {
  top: 20px;
  width: 0;
  height: 44px;
  position: absolute;
  -webkit-transition: width 400ms;
  white-space: nowrap;
  overflow: hidden; }
  .party-page ul.tracks li.track_in_playlist div.controls > div {
    display: inline-block; }
.party-page ul.tracks li.track_in_playlist.deleted div.title, .party-page ul.tracks li.track_in_playlist.deleted div.subtitle {
  opacity: .2; }
.party-page ul.tracks li.track_in_playlist.deleted div.deleted-by {
  position: absolute;
  color: red;
  top: 25px;
  padding-left: 5px;
  text-shadow: white 1px 1px 2px; }
.party-page ul.tracks li.track_in_playlist.deleted div.deleted-by:before {
  content: "skipped by: "; }
.party-page ul.tracks li.track_in_playlist.now-playing {
  background-image: -webkit-linear-gradient(top, #cccccc, #bebebe); }
  .party-page ul.tracks li.track_in_playlist.now-playing div.text {
    margin-left: 45px; }
  .party-page ul.tracks li.track_in_playlist.now-playing div.icon {
    width: 32px; }
.party-page ul.tracks li.track_in_playlist.show-controls div.text {
  margin-left: 100px; }
.party-page ul.tracks li.track_in_playlist.show-controls div.controls {
  width: 88px; }
.party-page ul.tracks li.track_in_playlist.now-playing.show-controls div.text {
  margin-left: 144px; }
.party-page ul.tracks li.track_in_playlist.now-playing.show-controls div.icon {
  width: 0; }
.party-page ul.tracks li.track_in_playlist.now-playing.show-controls div.controls {
  width: 132px; }
.party-page ul.tracks li.track_in_playlist.deleted.show-controls div.text {
  margin-left: 56px; }
.party-page ul.tracks li.track_in_playlist.deleted.show-controls div.controls {
  width: 44px; }
.party-page ul.tracks li.track_in_playlist .delete-button {
  background-image: url(../img/skip.png);
  width: 44px;
  height: 44px;
  background-size: 44px 44px; }
.party-page ul.tracks li.track_in_playlist.deleted .delete-button {
  background-image: url(../img/unskip.png); }
.party-page ul.tracks li.track_in_playlist .play-button {
  background-image: url(../img/play.png);
  width: 44px;
  height: 44px;
  background-size: 44px 44px; }
.party-page ul.tracks li.track_in_playlist.now-playing .play-button {
  background-image: url(../img/restart.png); }
.party-page ul.tracks li.track_in_playlist .pause-button {
  background-image: url(../img/pause.png);
  width: 44px;
  height: 44px;
  background-size: 44px 44px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .party-page ul.tracks li.track_in_playlist .delete-button {
    background-image: url(../img/skip@2x.png); }
  .party-page ul.tracks li.track_in_playlist.deleted .delete-button {
    background-image: url(../img/unskip@2x.png); }
  .party-page ul.tracks li.track_in_playlist .play-button {
    background-image: url(../img/play@2x.png); }
  .party-page ul.tracks li.track_in_playlist.now-playing .play-button {
    background-image: url(../img/restart@2x.png); }
  .party-page ul.tracks li.track_in_playlist .pause-button {
    background-image: url(../img/pause@2x.png);
    width: 44px;
    height: 44px;
    background-size: 44px 44px; } }
.party-page ul.tracks.paused div.icon {
  background-position: -32px; }

.add-song-page ul.search-results {
  margin-top: 0; }
  .add-song-page ul.search-results > li > div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
    .add-song-page ul.search-results > li > div.artist, .add-song-page ul.search-results > li > div.album {
      font-weight: normal;
      font-size: 12px;
      color: 0x555555;
      display: inline-block; }
    .add-song-page ul.search-results > li > div.album:before {
      content: "- "; }
  .add-song-page ul.search-results.loading {
    background: url(../img/spinner.gif) no-repeat center;
    height: 100px; }

.pm-popup {
  max-width: 350px;
  padding: 20px;
  text-align: center; }
  .pm-popup p {
    text-align: left; }
  .pm-popup a {
    margin-top: 20px;
    max-width: 250px;
    display: inline-block; }
