#partymode {
  min-height: 120%; }
  #partymode .login-page .fb-login-button {
    border: 0;
    outline: none;
    width: 152px;
    height: 22px;
    background: url(../img/fb-login.png) no-repeat;
    display: inline-block; }
  #partymode .ui-popup-screen.in {
    height: 10000px;
    position: fixed; }
  #partymode .ui-btn-active {
    background: #404040;
    /* Old browsers */
    background: -moz-linear-gradient(top, #505050 0%, #313131 100%);
    /* FF3.6+ */
    background: -webkit-linear-gradient(top, #505050 0%, #313131 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #505050 0%, #313131 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #505050 0%, #313131 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #505050 0%, #313131 100%);
    /* W3C */ }
  #partymode li.ui-li {
    border: none; }
    #partymode li.ui-li .entry {
      background-color: #ECEBE8;
      width: 100%;
      height: 100%; }
    #partymode li.ui-li .entry-container {
      padding: 6px 15px 0 15px; }
      #partymode li.ui-li .entry-container h2 {
        margin-top: 0;
        margin-bottom: 0;
        color: black;
        text-shadow: none; }
      #partymode li.ui-li .entry-container h3 {
        margin-top: 1px;
        color: #858585;
        text-shadow: none;
        font-weight: normal;
        text-shadow: none;
        font-size: 14px; }
    #partymode li.ui-li .ui-icon {
      background-color: transparent;
      box-shadow: none; }
    #partymode li.ui-li div.ui-li {
      height: 49px;
      border-width: 0 0 1px;
      border-style: solid;
      border-color: #D2D2D2;
      overflow: hidden; }
      #partymode li.ui-li div.ui-li .ui-btn-text {
        height: 100%; }
    #partymode li.ui-li.ui-btn-active div.ui-li {
      background-color: #618CDD; }
    #partymode li.ui-li a.ui-link-inherit {
      padding: 0; }
  #partymode .party-overview-page ul.parties li.party {
    -webkit-transition: height 500ms;
    overflow: hidden; }
    #partymode .party-overview-page ul.parties li.party.invisible {
      height: 1;
      border: none; }
    #partymode .party-overview-page ul.parties li.party.activeparty h3 {
      display: none; }
    #partymode .party-overview-page ul.parties li.party .party-when:before {
      content: "Ended: "; }
  #partymode .party-overview-page ul.parties li.party .ui-li-aside {
    width: 70px; }
    #partymode .party-overview-page ul.parties li.party .ui-li-aside .number-of-users, #partymode .party-overview-page ul.parties li.party .ui-li-aside .number-of-tracks {
      display: inline-block;
      width: 24px;
      height: 24px;
      background-size: cover;
      position: relative;
      top: 0px; }
      #partymode .party-overview-page ul.parties li.party .ui-li-aside .number-of-users span, #partymode .party-overview-page ul.parties li.party .ui-li-aside .number-of-tracks span {
        margin-right: -50%;
        position: absolute;
        top: -7px;
        right: 7px;
        display: block;
        min-width: 6px;
        border: 1px solid #FFFFFF;
        border-radius: 9px;
        background-color: #000000;
        padding: 0 3px;
        font-size: 10px;
        text-shadow: none;
        color: #FFFFFF;
        text-align: center; }
    #partymode .party-overview-page ul.parties li.party .ui-li-aside .number-of-users {
      background-image: url(../img/friends.svg); }
    #partymode .party-overview-page ul.parties li.party .ui-li-aside .number-of-tracks {
      background-image: url(../img/note.svg); }
  #partymode .party-page .ui-header .ui-title {
    margin-left: 6em;
    margin-right: 2em; }
  #partymode .party-page ul.tracks li.playlist-empty-message {
    /* this can be done in 1 rule, but this offers better gradual deterioration */
    display: none; }
    #partymode .party-page ul.tracks li.playlist-empty-message:last-child {
      display: block; }
  #partymode .party-page ul.tracks li.track-in-playlist {
    position: relative;
    top: 0; }
    #partymode .party-page ul.tracks li.track-in-playlist div.controls {
      height: 47px;
      width: 100%;
      border-width: 1px;
      border-style: solid none;
      border-color: #424242 black #020202;
      background: #646464;
      /* Old browsers */
      background: -moz-linear-gradient(top, #646464 0%, #717171 10%, #313131 100%);
      /* FF3.6+ */
      background: -webkit-linear-gradient(top, #646464 0%, #717171 10%, #313131 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #646464 0%, #717171 10%, #313131 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #646464 0%, #717171 10%, #313131 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #646464 0%, #717171 10%, #313131 100%);
      /* W3C */ }
      #partymode .party-page ul.tracks li.track-in-playlist div.controls > div {
        display: inline-block;
        margin-top: 2px;
        padding: 10px;
        width: 24px;
        height: 24px;
        background-image: url(../img/sprite@2x.png);
        background-size: 120px 48px;
        background-position-y: 24px;
        background-origin: content-box;
        background-clip: content-box;
        margin-left: 24px;
        -webkit-transition: background-position-x 0 ease 600ms;
        /* add a delay when the button changes, so that it will change when the slider is closed (so this is no transition, only delay) */
        /* delay when active button is released, so that it stays "pressed" a bit longer */ }
        #partymode .party-page ul.tracks li.track-in-playlist div.controls > div:not(:active) {
          -webkit-transition: background-position-y 0 linear 600ms;
          background-position-y: 0; }
        #partymode .party-page ul.tracks li.track-in-playlist div.controls > div.play-button {
          background-position-x: 0; }
        #partymode .party-page ul.tracks li.track-in-playlist div.controls > div.pause-button {
          background-position-x: -24px;
          display: none; }
        #partymode .party-page ul.tracks li.track-in-playlist div.controls > div.delete-button {
          background-position-x: -72px; }
    #partymode .party-page ul.tracks li.track-in-playlist .entry {
      position: absolute;
      left: 0;
      top: 0;
      -webkit-transition: left 300ms; }
    #partymode .party-page ul.tracks li.track-in-playlist.show-controls .entry {
      left: 80%; }
    #partymode .party-page ul.tracks li.track-in-playlist .deleted-by {
      display: none; }
    #partymode .party-page ul.tracks li.track-in-playlist.deleted .title, #partymode .party-page ul.tracks li.track-in-playlist.deleted .subtitle {
      opacity: .2; }
    #partymode .party-page ul.tracks li.track-in-playlist.deleted .artist-added {
      display: none; }
    #partymode .party-page ul.tracks li.track-in-playlist.deleted .deleted-by {
      display: block; }
    #partymode .party-page ul.tracks li.track-in-playlist.deleted .deleted-by:before {
      content: "deleted by: "; }
    #partymode .party-page ul.tracks li.track-in-playlist.deleted div.controls > div {
      display: none; }
      #partymode .party-page ul.tracks li.track-in-playlist.deleted div.controls > div.delete-button {
        display: inline-block;
        background-position-x: -96px; }
    #partymode .party-page ul.tracks li.track-in-playlist .playing.icon {
      width: 0;
      height: 24px;
      position: absolute;
      top: 11px;
      right: 9px;
      -webkit-transition: width 200ms;
      background-image: url(../img/speaker-on.svg);
      background-size: 24px 24px; }
    #partymode .party-page ul.tracks li.track-in-playlist .entry-container {
      margin-right: 0;
      -webkit-transition: margin-right 200ms; }
    #partymode .party-page ul.tracks li.track-in-playlist.now-playing .entry-container {
      margin-right: 24px; }
    #partymode .party-page ul.tracks li.track-in-playlist.now-playing .playing.icon {
      width: 24px; }
    #partymode .party-page ul.tracks li.track-in-playlist.now-playing div.controls > div.play-button {
      background-position-x: -48px; }
    #partymode .party-page ul.tracks li.track-in-playlist.now-playing div.controls > div.pause-button {
      display: inline-block; }
  #partymode .party-page ul.tracks.paused li.track-in-playlist .playing.icon {
    background-image: url(../img/speaker-off.svg); }
  #partymode .party-page ul.tracks.paused li.track-in-playlist div.controls div.pause-button {
    background-position-x: 0; }
  #partymode .add-song-page #searchform {
    margin-bottom: 25px; }
  #partymode .add-song-page ul.search-results > li h3 .album:before {
    content: "\2014 "; }
  #partymode .add-song-page ul.search-results.loading {
    background: url(../img/spinner.gif) no-repeat center;
    height: 100px; }
    #partymode .add-song-page ul.search-results.loading .noresults {
      display: none; }
  #partymode .add-song-page ul.search-results .noresults:not(:only-child) {
    display: none; }
  #partymode .pm-popup {
    max-width: 350px;
    padding: 20px;
    text-align: center; }
    #partymode .pm-popup p {
      text-align: left; }
    #partymode .pm-popup a {
      margin-top: 20px;
      max-width: 250px;
      display: inline-block; }
