@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...

.fbLogin {
    width: 152px;
    height: 22px;
    background: url(../images/login.png) no-repeat;
    display: block;
    margin: 15px 0;
}

#login {
    font-size: 0.9em;
    h2 {
        font-weight: bold; }
    p {
        padding-top: 10px; } }

.fbButton {
    border-color: #2A3349 #2A3A64 #253662 !important;
    border-radius: 3px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .21), 0 1px 0 rgba(255, 255, 255, .17) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#647AAB), to(#2C467E) ) !important;
    color: white !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .35) !important;
    &.x-button-pressed, &.x-button-pressing {
        background: -webkit-gradient(linear, left top, left bottom, from(darken(#647AAB, 10%)), to(darken(#2C467E, 10%)) ) !important;
    }
}