@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...

#appLoadingIndicator {z-index: 100;  top: -2000px; opacity: 0; -webkit-transition-property: opacity, top; -webkit-transition-duration: 250ms,0; -webkit-transition-delay: 0, 250ms; }
body.sop_loading #appLoadingIndicator { opacity: 1; top: 0; -webkit-transition-delay: 0,0;}

.fbLogin { width: 152px; height: 22px; background: url(../images/login.png) no-repeat; display: block; margin: 15px 0; }

#login { font-size: 0.9em;
  h2 { font-weight: bold; }
  p { padding-top: 10px; }
}

.playlist-entry {height: 50px; color: #333333; overflow: hidden; position: relative;
  .playlist-name {white-space: nowrap; padding-right: 150 px; overflow: hidden; text-overflow: ellipsis;}
  .playlist-artist {font-size: 0.6em; color: #555555; float: left; }
  .playlist-user-added {font-size: 0.6em; color: #555555; float: left;
    .x-innerhtml {display: inline; }
  }
  .playlist-user-added:before {content: " -- added by: "}

  .playlist-user-deleted {font-size: 0.9em; color: red; position: absolute; background-color:rgba(200,200,200,.8); top: 0; width: 100%; height: 100%; text-align: center; display: none; padding-top: 10px;
    .x-innerhtml {display: inline; }
  }
  .playlist-user-deleted:before {content: " removed by: "}
  .buttons {position: absolute; top: 3px; right: 3px; -webkit-transition: opacity 300ms}
  .delete-confirm-overlay {display: none; position: absolute; z-index: 10;width: 100%; height: 100%; } 
  .delete-confirm-btn-mask {position: absolute; overflow: hidden; z-index: 11; right: 0px; width: 0px; height: 100%; -webkit-transition: width 300ms}
  .delete-confirm-btn {position: absolute; right: 10px; top: 5px; }
}

.delete-confirm-mask .playlist-entry .delete-confirm-overlay {display: block; }
.playlist-entry.delete-confirm {
  .delete-confirm-btn-mask {width: 100px; }
  .buttons {opacity: 0; }
}

.playlist-entry.deleted {height: 0px; -webkit-transition: height 2s ease 10s;
  .buttons {display: none; }
  .playlist-user-deleted {display: block; }  
}

.addsongs {
  .searchresults {
    .loader {position: absolute; width: 100%; height: 100%; text-align: center; background-color: rgba(200, 200, 200, 0.8); display: none; }
    .loader:before {content: "loading"; }
    .x-dataview-item {overflow: hidden; height: 50px; border-bottom: 1px solid #333333;
      .subtitle {color: #555555; font-size: 0.7em; text-overflow: ellipsis; white-space: nowrap; margin-right: 35px; overflow: hidden; /*doesn't work yet: TODO! */
      }
      .subtitle>div {display: inline; }
    }     
  }
  .searchresults.clear>div {visibility: hidden; }
  .searchresults.loading {
    .loader {display: block; }
  }  
}