@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...

#appLoadingIndicator {z-index: 100;  top: -2000px; opacity: 0; -webkit-transition-property: opacity, top; -webkit-transition-duration: 250ms,0; -webkit-transition-delay: 0, 250ms; }
body.sop_loading #appLoadingIndicator { opacity: 1; top: 0; -webkit-transition-delay: 0,0;}

.fbLogin { width: 152px; height: 22px; background: url(../images/login.png) no-repeat; display: block; margin: 15px 0; }

#login { font-size: 0.9em;
  h2 { font-weight: bold; }
  p { padding-top: 10px; }
}

.playlist_row { height: 50px; color: #333333; overflow: hidden; position: relative;
  .playlist_name {}
  .playlist_artist {font-size: 0.6em; color: #555555; float: left; }
  .playlist_user_added {font-size: 0.6em; color: #555555; float: left; }
  .playlist_user_added:before {content: "-- added by: "}
  .buttons {position: absolute; top: 3px; right: 3px; }  
  .playlist_play_btn:before {content: "play"; }
  .playlist_remove_btn:before {content: "del"; }
}