$spotify-dark-background-color: #363636;
$spotify-search-results-background-color: #474747;
$partymode-logo-color: #87ceeb;

body {min-width: 611px;}

a {color: inherit; text-decoration: inherit; cursor: default;}
a:hover {text-decoration: inherit;}
h3 {margin: 0px;}

.sp-list > div {background-position: 0 20px;} /* default style sheet starts with a line in bg color; want to start with alternating-color line */

.logo {
    margin-bottom: 50px;
    h2 {text-align: center; font-size: 24px;}
    img {width: 100%;}
    position: relative;
}

.logo-small {
    background-image: url(../img/logo-small-center.png); margin: 10px 20px 0;
    &:before {content: url(../img/logo-small-left.png);}
    &:after {content: url(../img/logo-small-right.png);}
}

.on-off-slider {
    width: 55px; height: 22px; background-image: url(../img/on_off_slider_background.png);
    > div { width: 31px; height: 21px; background-image: url(../img/on_off_slider_foreground.png); position: absolute; left: 0px; -webkit-transition: left 250ms ease-out;}
}

.on-off-slider-on .on-off-slider > div {left: 24px; }

.welcome-page {
    .facebook-login {
        text-align: center;
        .disclaimer {margin: 50px; max-width: 730px; text-align: left; display: inline-block;}
        .disclaimer:after {content: \0A ;}    
        .fb-login-button {border: 0; outline: none; width: 152px; height: 22px; background: url(../img/fb-login.png) no-repeat; display: inline-block;}
    }
}  


.parties-overview-page {
    .text {font-size: 18px;}
    #new-party-form {margin: 50px 25px;
        > .welcome {margin-bottom: 15px;}
        #new-party-name {width: 250px; padding-left: 5px; margin-right: 15px; }
    }
    #parties {
        .or {
            margin: 15px 25px;
            &:last-child {display: none; }
        }
        .party {
            $art-size: 140px;
            padding: 15px 25px;
            border-top: 1px solid #3e3e3e;
            border-bottom: 1px solid #272727;
            .art {
                display: inline-block; width: $art-size; height: $art-size; border-radius: 10px; -webkit-box-shadow: 1px 1px 4px #202020; overflow: hidden; margin-right: 20px; vertical-align: top;
                img {width: $art-size / 2; height: $art-size / 2; float: left; 
                    &:only-of-type {width: $art-size; height: $art-size; }
                }
                &:empty {visibility: hidden; }
            }
            .info {
                display: inline-block; vertical-align: top;
                h2 {color: white; font-size: 30px; }
                .party-when {color: white; margin-top: 4px; font-size: 13px; }
                .users-bar {margin-top: 10px; position: relative; width: 8 * 50px; height: 50px;
                    img {width: 50px; height: 50px; margin: 0;}
                    .more {position: absolute; bottom: 0px; right: 0px; padding: 1px; background-color: black;  opacity: 0.8; font-size: 9px;}
                }
                .buttons {margin-top: 15px; }
            }
            .playlist-placeholder {-webkit-transition: max-height 500ms; overflow: hidden; max-height: 120px; margin-top: 15px;}
            .playlist-see-all {background-color: #202020; padding: 2px 8px; border-radius: 5px; margin-top: 8px; font-size: 11px; display: inline-block;}
        }
    }
    > .throbber {display: none; position: relative; background-color: inherit; margin-top: 40px;
        > div {left: 50%;}
    }
    #parties.loading~.throbber {display: block; }
}

.party-page {
    .coverphoto-container {
        position: relative; overflow: hidden;
        > img.coverphoto {position: absolute; width: 100%;}
        > .buttons {
            position: absolute; top: 20px; right: 10px;
            button {margin-right: 10px;}
        }
        > .currentsong {
            width: 70%;
            position: absolute;
            bottom: 25px;
            border: 1px solid white;
            border-radius: 7px;
            height: 100px;
            left: 15%;
            background-color: rgba(0,0,0,.4);
            background-origin: border-box;
            margin: 1px;
            padding-top: 10px;
            > img {width: 100px; height: 100px; border-radius: 7px; position: absolute; left: 5px; top: 5px;}
            > div {margin-left: 120px; margin-right: 10px; font-size: 24px; line-height: 28px; color: rgba(255,255,255,0.8); text-shadow: rgba(0,0,0,.8) 1px 1px 2px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
        }
        &.no-song-playing >.currentsong {display: none;}
    }
    #users-bar {
        $users-bar-icon-size: 50px;
        height: $users-bar-icon-size; margin-top: 20px;
        .arrow {display: none; position: absolute; width: 30px; height: 50px;}
        &.need-arrows .arrow {display: block; }
        .arrow-left {background-image: url(../img/arrow-left.png); left: 20px;}
        .arrow-right {background-image: url(../img/arrow-right.png); right: 20px;}
        > ul {
            height: $users-bar-icon-size; overflow: hidden; position: absolute; left: 20px + 30px + 4px; right: 20px + 30px + 4px;
            > li {
                width: $users-bar-icon-size; height: $users-bar-icon-size; position: absolute; left: 0px; -webkit-transition: left 500ms;
                > img.icon {
                    -webkit-transition: margin 1s, width 1s, height 1s;
                    width: $users-bar-icon-size; height: $users-bar-icon-size; margin: 0;
                }
                &.new {
                    -webkit-transition: none;
                    > img.icon { width: 0; height: 0; margin: $users-bar-icon-size / 2; -webkit-transition: none;}
                }
                > .hoverdata {opacity: 0; -webkit-transition: opacity 100ms;}
                &:hover > .hoverdata {opacity: 1;}
                > .kick {width: 16px; height: 16px; background-image: url(../img/close.png); position: absolute; top: 0; right: 0;}
                &.owner > .kick {display: none; }
                > .name {
                    background-color: rgba(0, 0, 0, 0.7);
                    position: absolute; left: 2px; bottom: 2px; height: 30px; right: 2px; overflow: hidden; padding: 2px; font-size: 10px;
                }
            }
        }    
    }
    #playlist-placeholder {
        margin-top: 25px;
        .expectedplaytime {width: 50px; text-align: right; }
        .delete-button {position: relative; width: 26px;
            > span {background-image: url(../img/delete.png); width: 16px; height: 16px; top: 2px; left: 5px; position: absolute;}
        }
        .sp-track.deleted {
            .delete-button > span {background-position-x: -16px; } 
            .expectedplaytime, .addedby {background-color: silver; color: red; }
        }
    }
}

#overlay-backdrop {
    display: none; &.active {display: block}
    position: absolute; top:0px; left: 0px; bottom: 0px; right: 0px; z-index: 99;
    background-color: rgba(45, 45, 45, 0.9);
}

#overlay-placeholder > div {
    $overlay-width: 800px;
    $overlay-height: 600px;
    $overlay-border-width: 25px;
    position: absolute; z-index: 100;
    width: $overlay-width; height: $overlay-height; top: 75px; margin-left: - $overlay-width / 2 - $overlay-border-width; left: 50%;
    background-color: $spotify-dark-background-color; border: $overlay-border-width solid #101010; border-radius: 30px;
    h3 {background-color: $partymode-logo-color; height: 25px; padding: 7px; color: #000080; font-weight: bold; font-size: 18px;}
    .search-box {height: 30px; width: 500px; font-size: 16px; margin: 10px;}
    .search-results {
        overflow-x: hidden; overflow-y: auto; position: relative; top: 0px; margin: 7px;
        .throbber {display: none;}
        &.loading .throbber {display: block;}
    }
    &.invite-users-overlay {
        #users-search-results {
            height: $overlay-height - 130px;
            .users > li {
                width: $overlay-width / 2 - 27px; float: left; height: 45px; padding: 4px; position: relative; margin-right: 5px;
                &.even {background-color: $spotify-search-results-background-color;}
                .icon {width: 35px; height: 35px; float: left; margin: 5px;}
                &.filtered {display: none;}
                .name { color: white; font-size: 14px; position: absolute; left: 55px; top: 12px; width: 245px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
                .on-off-slider {position: absolute; top: 17px; right: 20px;}
            }
        }
        #users-search-invite {float: right; margin-top: 7px; margin-right: 15px;}
    }
    &.add-track-overlay {
        #track-search-results {
            height: $overlay-height - 96px;
            .tracks > li {
                color: #D0D0D0; font-size: 12px; height: 45px; padding: 4px; position: relative;
                &:nth-child(odd) {background-color: $spotify-search-results-background-color;}
                .name {color: white; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-size: 21px; line-height: 26px;}
                .artist {display: inline-block; max-width: 300px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin-left: 5px;}
                .album {display: inline-block; max-width: 300px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
                    &:before {content: " \2013  ";}
                }
                .on-off-slider {position: absolute; top: 17px; right: 20px;}
            }
        }
        #users-search-invite {float: right; margin-top: 7px; margin-right: 15px;}
    }
}



.footer {margin-top: 100px; padding-top: 5px; border-top: 1px solid silver;
    text-align: center;
}


/* overriding things that the spotify css breaks */

input[type=search] {-webkit-appearance: searchfield;}
::-webkit-search-cancel-button {display: inherit;}
