body.loggedin #login_pane {
    display: none;
}

body #loggedin_pane {
    display: none;
}

body.loggedin #loggedin_pane {
    display: block;
}

.spinner {
    display: none;
}

.loading > .spinner {
    display: block;
}

.loading > .content {
    display: none;
}


#choose_party_pane .content .noparties {
    display: none;
}

#choose_party_pane .content.no_parties .noparties {
    display: block;
}
#choose_party_pane .content.no_parties .choose-party {
    display: none;
}


#loggedin_pane #engage_party_pane {
    display: none;
}

#loggedin_pane.engage_party #engage_party_pane {
    display: block;
}

#loggedin_pane.engage_party #choose_party_pane {
    display: none;
}

#spotify_search {
    position: absolute;
    top: 0px;
    height: 30px;
    overflow: hidden;
}

#playlist {
    position: absolute;
    top: 30px;
    bottom: 0px;
} 

#playlist {
    -webkit-transition: top 500ms;
}

#playlist.inactive {
    top: 31415250px;
}

