body {
  min-width: 611px; }

a {
  color: inherit;
  text-decoration: inherit;
  cursor: default; }

a:hover {
  text-decoration: inherit; }

h3 {
  margin: 0px; }

.sp-list > div {
  background-position: 0 20px; }

/* default style sheet starts with a line in bg color; want to start with alternating-color line */
.logo {
  margin-bottom: 50px;
  position: relative; }
  .logo h2 {
    text-align: center;
    font-size: 24px; }
  .logo img {
    width: 100%; }

.logo-small {
  background-image: url(../img/logo-small-center.png);
  margin: 10px 20px 0; }
  .logo-small:before {
    content: url(../img/logo-small-left.png); }
  .logo-small:after {
    content: url(../img/logo-small-right.png); }

.on-off-slider {
  width: 55px;
  height: 22px;
  background-image: url(../img/on_off_slider_background.png); }
  .on-off-slider > div {
    width: 31px;
    height: 21px;
    background-image: url(../img/on_off_slider_foreground.png);
    position: absolute;
    left: 0px;
    -webkit-transition: left 250ms ease-out; }

.on-off-slider-on .on-off-slider > div {
  left: 24px; }

.welcome-page .facebook-login {
  text-align: center; }
  .welcome-page .facebook-login .disclaimer {
    margin: 50px;
    max-width: 730px;
    text-align: left;
    display: inline-block; }
  .welcome-page .facebook-login .disclaimer:after {
    content: \0A; }
  .welcome-page .facebook-login .fb-login-button {
    border: 0;
    outline: none;
    width: 152px;
    height: 22px;
    background: url(../img/fb-login.png) no-repeat;
    display: inline-block; }

.parties-overview-page .text {
  font-size: 18px; }
.parties-overview-page #new-party-form {
  margin: 50px 25px; }
  .parties-overview-page #new-party-form > .welcome {
    margin-bottom: 15px; }
  .parties-overview-page #new-party-form #new-party-name {
    width: 250px;
    padding-left: 5px;
    margin-right: 15px; }
.parties-overview-page #parties .or {
  margin: 15px 25px; }
  .parties-overview-page #parties .or:last-child {
    display: none; }
.parties-overview-page #parties .party {
  padding: 15px 25px;
  border-top: 1px solid #3e3e3e;
  border-bottom: 1px solid #272727; }
  .parties-overview-page #parties .party .art {
    display: inline-block;
    width: 140px;
    height: 140px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 4px #202020;
    overflow: hidden;
    margin-right: 20px;
    vertical-align: top; }
    .parties-overview-page #parties .party .art img {
      width: 70px;
      height: 70px;
      float: left; }
      .parties-overview-page #parties .party .art img:only-of-type {
        width: 140px;
        height: 140px; }
    .parties-overview-page #parties .party .art:empty {
      visibility: hidden; }
  .parties-overview-page #parties .party .info {
    display: inline-block;
    vertical-align: top; }
    .parties-overview-page #parties .party .info h2 {
      color: white;
      font-size: 30px; }
    .parties-overview-page #parties .party .info .party-when {
      color: white;
      margin-top: 4px;
      font-size: 13px; }
    .parties-overview-page #parties .party .info .users-bar {
      margin-top: 10px;
      position: relative;
      width: 400px;
      height: 50px; }
      .parties-overview-page #parties .party .info .users-bar img {
        width: 50px;
        height: 50px;
        margin: 0; }
      .parties-overview-page #parties .party .info .users-bar .more {
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 1px;
        background-color: black;
        opacity: 0.8;
        font-size: 9px; }
    .parties-overview-page #parties .party .info .buttons {
      margin-top: 15px; }
  .parties-overview-page #parties .party .playlist-placeholder {
    -webkit-transition: max-height 500ms;
    overflow: hidden;
    max-height: 120px;
    margin-top: 15px; }
  .parties-overview-page #parties .party .playlist-see-all {
    background-color: #202020;
    padding: 2px 8px;
    border-radius: 5px;
    margin-top: 8px;
    font-size: 11px;
    display: inline-block; }
.parties-overview-page > .throbber {
  display: none;
  position: relative;
  background-color: inherit;
  margin-top: 40px; }
  .parties-overview-page > .throbber > div {
    left: 50%; }
.parties-overview-page #parties.loading ~ .throbber {
  display: block; }

.party-page .coverphoto-container {
  position: relative;
  overflow: hidden; }
  .party-page .coverphoto-container > img.coverphoto {
    position: absolute;
    width: 100%; }
  .party-page .coverphoto-container > .buttons {
    position: absolute;
    top: 20px;
    right: 10px; }
    .party-page .coverphoto-container > .buttons button {
      margin-right: 10px; }
  .party-page .coverphoto-container > .currentsong {
    width: 70%;
    position: absolute;
    bottom: 25px;
    border: 1px solid white;
    border-radius: 7px;
    height: 100px;
    left: 15%;
    background-color: rgba(0, 0, 0, 0.4);
    background-origin: border-box;
    margin: 1px;
    padding-top: 10px; }
    .party-page .coverphoto-container > .currentsong > img {
      width: 100px;
      height: 100px;
      border-radius: 7px;
      position: absolute;
      left: 5px;
      top: 5px; }
    .party-page .coverphoto-container > .currentsong > div {
      margin-left: 120px;
      margin-right: 10px;
      font-size: 24px;
      line-height: 28px;
      color: rgba(255, 255, 255, 0.8);
      text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
  .party-page .coverphoto-container.no-song-playing > .currentsong {
    display: none; }
.party-page #users-bar {
  height: 50px;
  margin-top: 20px; }
  .party-page #users-bar .arrow {
    display: none;
    position: absolute;
    width: 30px;
    height: 50px; }
  .party-page #users-bar.need-arrows .arrow {
    display: block; }
  .party-page #users-bar .arrow-left {
    background-image: url(../img/arrow-left.png);
    left: 20px; }
  .party-page #users-bar .arrow-right {
    background-image: url(../img/arrow-right.png);
    right: 20px; }
  .party-page #users-bar > ul {
    height: 50px;
    overflow: hidden;
    position: absolute;
    left: 54px;
    right: 54px; }
    .party-page #users-bar > ul > li {
      width: 50px;
      height: 50px;
      position: absolute;
      left: 0px;
      -webkit-transition: left 500ms; }
      .party-page #users-bar > ul > li > img.icon {
        -webkit-transition: margin 1s, width 1s, height 1s;
        width: 50px;
        height: 50px;
        margin: 0; }
      .party-page #users-bar > ul > li.new {
        -webkit-transition: none; }
        .party-page #users-bar > ul > li.new > img.icon {
          width: 0;
          height: 0;
          margin: 25px;
          -webkit-transition: none; }
      .party-page #users-bar > ul > li > .hoverdata {
        opacity: 0;
        -webkit-transition: opacity 100ms; }
      .party-page #users-bar > ul > li:hover > .hoverdata {
        opacity: 1; }
      .party-page #users-bar > ul > li > .kick {
        width: 16px;
        height: 16px;
        background-image: url(../img/close.png);
        position: absolute;
        top: 0;
        right: 0; }
      .party-page #users-bar > ul > li.owner > .kick {
        display: none; }
      .party-page #users-bar > ul > li > .name {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 2px;
        bottom: 2px;
        height: 30px;
        right: 2px;
        overflow: hidden;
        padding: 2px;
        font-size: 10px; }
.party-page #playlist-placeholder {
  margin-top: 25px; }
  .party-page #playlist-placeholder .expectedplaytime {
    width: 50px;
    text-align: right; }
  .party-page #playlist-placeholder .delete-button {
    position: relative;
    width: 26px; }
    .party-page #playlist-placeholder .delete-button > span {
      background-image: url(../img/delete.png);
      width: 16px;
      height: 16px;
      top: 2px;
      left: 5px;
      position: absolute; }
  .party-page #playlist-placeholder .sp-track.deleted .delete-button > span {
    background-position-x: -16px; }
  .party-page #playlist-placeholder .sp-track.deleted .expectedplaytime, .party-page #playlist-placeholder .sp-track.deleted .addedby {
    background-color: silver;
    color: red; }

#overlay-backdrop {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 99;
  background-color: rgba(45, 45, 45, 0.9); }
  #overlay-backdrop.active {
    display: block; }

#overlay-placeholder > div {
  position: absolute;
  z-index: 100;
  width: 800px;
  height: 600px;
  top: 75px;
  margin-left: -425px;
  left: 50%;
  background-color: #363636;
  border: 25px solid #101010;
  border-radius: 30px; }
  #overlay-placeholder > div h3 {
    background-color: skyblue;
    height: 25px;
    padding: 7px;
    color: #000080;
    font-weight: bold;
    font-size: 18px; }
  #overlay-placeholder > div .search-box {
    height: 30px;
    width: 500px;
    font-size: 16px;
    margin: 10px; }
  #overlay-placeholder > div .search-results {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    top: 0px;
    margin: 7px; }
    #overlay-placeholder > div .search-results .throbber {
      display: none; }
    #overlay-placeholder > div .search-results.loading .throbber {
      display: block; }
  #overlay-placeholder > div.invite-users-overlay #users-search-results {
    height: 470px; }
    #overlay-placeholder > div.invite-users-overlay #users-search-results .users > li {
      width: 373px;
      float: left;
      height: 45px;
      padding: 4px;
      position: relative;
      margin-right: 5px; }
      #overlay-placeholder > div.invite-users-overlay #users-search-results .users > li.even {
        background-color: #474747; }
      #overlay-placeholder > div.invite-users-overlay #users-search-results .users > li .icon {
        width: 35px;
        height: 35px;
        float: left;
        margin: 5px; }
      #overlay-placeholder > div.invite-users-overlay #users-search-results .users > li.filtered {
        display: none; }
      #overlay-placeholder > div.invite-users-overlay #users-search-results .users > li .name {
        color: white;
        font-size: 14px;
        position: absolute;
        left: 55px;
        top: 12px;
        width: 245px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
      #overlay-placeholder > div.invite-users-overlay #users-search-results .users > li .on-off-slider {
        position: absolute;
        top: 17px;
        right: 20px; }
  #overlay-placeholder > div.invite-users-overlay #users-search-invite {
    float: right;
    margin-top: 7px;
    margin-right: 15px; }
  #overlay-placeholder > div.add-track-overlay #track-search-results {
    height: 504px; }
    #overlay-placeholder > div.add-track-overlay #track-search-results .tracks > li {
      color: #D0D0D0;
      font-size: 12px;
      height: 45px;
      padding: 4px;
      position: relative; }
      #overlay-placeholder > div.add-track-overlay #track-search-results .tracks > li:nth-child(odd) {
        background-color: #474747; }
      #overlay-placeholder > div.add-track-overlay #track-search-results .tracks > li .name {
        color: white;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 21px;
        line-height: 26px; }
      #overlay-placeholder > div.add-track-overlay #track-search-results .tracks > li .artist {
        display: inline-block;
        max-width: 300px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-left: 5px; }
      #overlay-placeholder > div.add-track-overlay #track-search-results .tracks > li .album {
        display: inline-block;
        max-width: 300px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
        #overlay-placeholder > div.add-track-overlay #track-search-results .tracks > li .album:before {
          content: " \2013  "; }
      #overlay-placeholder > div.add-track-overlay #track-search-results .tracks > li .on-off-slider {
        position: absolute;
        top: 17px;
        right: 20px; }
  #overlay-placeholder > div.add-track-overlay #users-search-invite {
    float: right;
    margin-top: 7px;
    margin-right: 15px; }

.footer {
  margin-top: 100px;
  padding-top: 5px;
  border-top: 1px solid silver;
  text-align: center; }

/* overriding things that the spotify css breaks */
input[type=search] {
  -webkit-appearance: searchfield; }

::-webkit-search-cancel-button {
  display: inherit; }
